# Ignore all tracking, envs, and caches
.git
.dvc
.dvc/cache
mlruns/
notebooks/
scripts/
__pycache__/
*.pyc

# Conda/Python envs
mlops-recsys/
env/
venv/

# Mac files
.DS_Store

# Ignore all data...
data/*
# ...BUT, add an exception (!) for the final models
!data/models