# Python
__pycache__/
*.pyc
.env

# VSCode
.vscode/

# DVC
.dvc/cache/

# Data & Models
# DVC will track these, so Git must ignore them
data/raw/*
data/processed/*
data/models/*
!data/.gitignore

# MLflow
mlruns/
.mlflow-props