# Data & Models
# Ignore all large data and model files in these folders...
data/raw/*
data/processed/*
data/models/*

# ...BUT, do NOT ignore the DVC pointer files (.dvc)
# or any .gitignore files inside those folders.
!data/raw/*.dvc
!data/raw/.gitignore

!data/processed/*.dvc
!data/processed/.gitignore

!data/models/*.dvc
!data/models/.gitignore